{{> menu}}

<section class="box">
  <div class="title">
    {{playlist.title}}
  </div>
  <p class="is-size-6 is-italic"> Total Duration: {{playlistSummary.duration}}; Shortest trackController: {{playlistSummary.shortestSong.title}}</p>
  {{> list-tracks}}
  {{> add-track}}
</section>
